# Credentials & Configuration
config.json
data/
adb/
*.json.tmp
.env

# Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.so

# Logs
*.log
logs/
*.log.*

# IDE / Editor
.idea/
.vscode/settings.json
